body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #252422;
    color: #e5e7eb;
}

header {
    background: #403D39;
    padding: 20px;
    text-align: center;
    font-style: bold;
}

nav a {
    color: #38bdf8;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    padding: 40px;
}

.project-card {
    background: #8F2D56;
    padding: 8px;
    border-radius: 12px;
    border: 1px solid;
    overflow: hidden;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}

    .project-card:hover {
        transform: scale(1.05);
    }

    .project-card img {
        width: 100%;
        display: block;
        border-radius: 8px;
    }

    .project-card h3 {
        margin: 15px;
        font-style: bold;
    }

    .project-card p {
        margin: 0 15px 15px;
        color: #94a3b8;
        font-style: italic;
    }
    

.game-frame {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 12px;
    background: black;
}

.content {
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}

.play-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #38bdf8;
    color: #020617;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #403D39;
    font-style: italic;
}

a:link {
    color: white; /* Unvisited link color */
}

a:visited {
    color: lightblue; /* Visited link color */
}

a:hover {
    color: yellow; /* Mouse over link color */
}

a:active {
    color: yellow; /* Selected link color */
}

.hero-row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px 24px;
    padding-top: 28px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    align-items: stretch;
    grid-template-areas:
        "hero bio";
}

.hero.card {
    padding: 16px;
    border: 1px solid;
    border-radius: 14px;
    background: #8F2D56;
    box-shadow: 0 1px 2px rgba(0,0,0,.04);
}

.hero-links {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: end;
}

.bio.card {
    padding: 16px;
    border: 1px solid;
    border-radius: 14px;
    background: #8F2D56;
}

.rounded-image {
    margin: auto;
    width: 100%;
    max-height: 350px;
    border-radius: 25px; /* Adjust the pixel value for more or less rounding */
}
.blunder-image {
    margin: auto;
    width: 100%;
    border-radius: 25px; /* Adjust the pixel value for more or less rounding */
}